body {
    background: #222;
    color: #FFF
}

.nav {
    display: inline-block;
    width: 100%;
}

.input {
    float: left;
}

.input-prev-next {
    float: right;
    padding: 0 1em;
}

.stream {
    padding: 1em;
    margin-bottom: 0em;
    float: left;
    display: block;
    width: 320px;
    height: 320px;
}

.total {
    float: right;
    padding-top: 0.4em;
}

.status-split {
    margin: 4px 0;
}