* {
    box-sizing: border-box;
}

body {
    background: #222;
    color: #FFF;
}

nav {
    display: grid;
    grid-auto-flow: column;
}

form {
    margin: 0;
}

.input {
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
}

.input input {
    margin: 0 0.5em;
}

.input-prev-next {
    display: flex;
    justify-self: end;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.stream {
    padding: 1em;
    flex: 0 0 22em;
}

a,
a:visited {
    color: #625cff;
}

a img {
    width: 100%;
}
